
body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
            color: #333;
         }
        h1, h2 {
            text-align: center;
            color: #000;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }
        h3 {
            color: #2c3e50;
            margin-top: 30px;
            border-left: 5px solid #333;
            padding-left: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 15px 0;
        }
        table, th, td {
            border: 1px solid #000;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .contenedor {
            max-width: 950px;
            margin: auto;
        }
        .datos-brutos {
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px dashed #999;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .interpretacion {
            background-color: #f0f7ff;
            padding: 15px;
            border: 1px solid #0056b3;
            margin-bottom: 40px;
        }
        .seccion { margin-bottom: 60px; }
    
.seccion {
    margin-bottom: 80px;
    animation: fadeIn 0.8s ease;
}

h2 {
    color: var(--white);
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.5rem;
}

h3 {
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    margin-top: 30px;
}

th {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

.titulo {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 5px #000;
}

.contenedor {
    background-color: #246355;
    padding: 10px;
    margin-top: 35px;
    border-radius: 15px;
}